[submodule "ujdi"]
	path = ujdi
	url = https://github.com/volkovasystems/ujdi.git
[submodule "ssrd"]
	path = ssrd
	url = https://github.com/volkovasystems/ssrd.git
[submodule "library-node"]
	path = library-node
	url = https://github.com/volkovasystems/library-node.git
[submodule "niagara"]
	path = niagara
	url = https://github.com/volkovasystems/niagara.git
[submodule "icon"]
	path = icon
	url = https://github.com/volkovasystems/icon.git
[submodule "benu"]
	path = benu
	url = https://github.com/volkovasystems/benu.git
[submodule "signal"]
	path = signal
	url = https://github.com/volkovasystems/signal.git
[submodule "adaptable"]
	path = adaptable
	url = https://github.com/volkovasystems/adaptable.git
[submodule "concise"]
	path = concise
	url = https://github.com/volkovasystems/concise.git
[submodule "library"]
	path = library
	url = https://github.com/volkovasystems/library.git
[submodule "node_modules"]
	path = node_modules
	url = https://github.com/volkovasystems/node_modules.git
[submodule "vsutility"]
	path = vsutility
	url = https://github.com/volkovasystems/vsutility.git
[submodule "barter-app"]
	path = barter-app
	url = https://github.com/monkeymouse/barter-app.git
[submodule "brags-app"]
	path = brags-app
	url = https://github.com/volkovasystems/brags-app.git
[submodule "vsapp"]
	path = vsapp
	url = https://github.com/volkovasystems/vsapp.git
[submodule "vsdependency"]
	path = vsdependency
	url = https://github.com/volkovasystems/vsdependency.git
[submodule "vslibrary"]
	path = vslibrary
	url = https://github.com/volkovasystems/vslibrary.git
[submodule "solomon"]
	path = solomon
	url = https://github.com/volkovasystems/solomon.git
[submodule "ebla"]
	path = ebla
	url = https://github.com/volkovasystems/ebla.git
[submodule "grimoire"]
	path = grimoire
	url = https://github.com/volkovasystems/grimoire.git
[submodule "syllogi"]
	path = syllogi
	url = https://github.com/volkovasystems/syllogi.git
[submodule "vstest"]
	path = vstest
	url = https://github.com/volkovasystems/vstest.git
[submodule "vsmain"]
	path = vsmain
	url = https://github.com/volkovasystems/vsmain.git
[submodule "grocerybox-app"]
	path = grocerybox-app
	url = https://github.com/volkovasystems/grocerybox-app.git
[submodule "templar"]
	path = templar
	url = https://github.com/volkovasystems/templar.git
[submodule "siodina-app"]
	path = siodina-app
	url = https://github.com/volkovasystems/siodina-app.git
[submodule "meta"]
	path = meta
	url = https://github.com/volkovasystems/meta.git
[submodule "class-callback"]
	path = class-callback
	url = https://github.com/volkovasystems/class-callback.git
[submodule "class-range"]
	path = class-range
	url = https://github.com/volkovasystems/class-range.git
[submodule "class-path"]
	path = class-path
	url = https://github.com/volkovasystems/class-path.git
[submodule "class-file"]
	path = class-file
	url = https://github.com/volkovasystems/class-file.git
[submodule "ocis"]
	path = ocis
	url = https://github.com/volkovasystems/ocis.git
[submodule "class-map"]
	path = class-map
	url = https://github.com/volkovasystems/class-map.git
[submodule "class-command"]
	path = class-command
	url = https://github.com/volkovasystems/class-command.git
[submodule "class-collection"]
	path = class-collection
	url = https://github.com/volkovasystems/class-collection.git
[submodule "class-keys"]
	path = class-keys
	url = https://github.com/volkovasystems/class-keys.git
[submodule "chore"]
	path = chore
	url = https://github.com/volkovasystems/chore.git
[submodule "hypercut"]
	path = hypercut
	url = https://github.com/volkovasystems/hypercut.git
[submodule "domino"]
	path = domino
	url = https://github.com/volkovasystems/domino.git
[submodule "collection-regroup"]
	path = collection-regroup
	url = https://github.com/volkovasystems/collection-regroup.git
[submodule "partition"]
	path = partition
	url = https://github.com/volkovasystems/partition.git
[submodule "looop"]
	path = looop
	url = https://github.com/volkovasystems/looop.git
[submodule "class-moment"]
	path = class-moment
	url = https://github.com/volkovasystems/class-moment.git
[submodule "class-agreement"]
	path = class-agreement
	url = https://github.com/volkovasystems/class-agreement.git
[submodule "class-linker"]
	path = class-linker
	url = https://github.com/volkovasystems/class-linker.git
[submodule "odyssey"]
	path = odyssey
	url = https://github.com/volkovasystems/odyssey.git
[submodule "nth-root"]
	path = nth-root
	url = https://github.com/volkovasystems/nth-root.git
[submodule "indian"]
	path = indian
	url = https://github.com/volkovasystems/indian.git
[submodule "grado-app"]
	path = grado-app
	url = https://github.com/volkovasystems/grado-app.git
[submodule "page-group"]
	path = page-group
	url = https://github.com/volkovasystems/page-group.git
[submodule "page"]
	path = page
	url = https://github.com/volkovasystems/page.git
[submodule "half-page"]
	path = half-page
	url = https://github.com/volkovasystems/half-page.git
[submodule "reduce-zindex-levels"]
	path = reduce-zindex-levels
	url = https://github.com/volkovasystems/reduce-zindex-levels.git
[submodule "ng-on-render"]
	path = ng-on-render
	url = https://github.com/volkovasystems/ng-on-render.git
[submodule "selective-scenario"]
	path = selective-scenario
	url = https://github.com/volkovasystems/selective-scenario.git
[submodule "compute-next-zindex"]
	path = compute-next-zindex
	url = https://github.com/volkovasystems/compute-next-zindex.git
[submodule "absurd-reset"]
	path = absurd-reset
	url = https://github.com/volkovasystems/absurd-reset.git
[submodule "ng-safe-apply"]
	path = ng-safe-apply
	url = https://github.com/volkovasystems/ng-safe-apply.git
[submodule "ng-bind-dom"]
	path = ng-bind-dom
	url = https://github.com/volkovasystems/ng-bind-dom.git
[submodule "ng-auto-resize"]
	path = ng-auto-resize
	url = https://github.com/volkovasystems/ng-auto-resize.git
[submodule "force-auto-resize"]
	path = force-auto-resize
	url = https://github.com/volkovasystems/force-auto-resize.git
[submodule "domo-stringify"]
	path = domo-stringify
	url = https://github.com/volkovasystems/domo-stringify.git
[submodule "absurd-compiler"]
	path = absurd-compiler
	url = https://github.com/volkovasystems/absurd-compiler.git
[submodule "ng-app-determine"]
	path = ng-app-determine
	url = https://github.com/volkovasystems/ng-app-determine.git
[submodule "class-contract"]
	path = class-contract
	url = https://github.com/volkovasystems/class-contract.git
[submodule "ditto"]
	path = ditto
	url = https://github.com/volkovasystems/ditto.git
