[submodule "ujdi"]
	path = ujdi
	url = https://github.com/volkovasystems/ujdi.git
[submodule "ssrd"]
	path = ssrd
	url = https://github.com/volkovasystems/ssrd.git
[submodule "library-node"]
	path = library-node
	url = https://github.com/volkovasystems/library-node.git
[submodule "niagara"]
	path = niagara
	url = https://github.com/volkovasystems/niagara.git
[submodule "icon"]
	path = icon
	url = https://github.com/volkovasystems/icon.git
[submodule "benu"]
	path = benu
	url = https://github.com/volkovasystems/benu.git
[submodule "signal"]
	path = signal
	url = https://github.com/volkovasystems/signal.git
[submodule "adaptable"]
	path = adaptable
	url = https://github.com/volkovasystems/adaptable.git
[submodule "concise"]
	path = concise
	url = https://github.com/volkovasystems/concise.git
[submodule "library"]
	path = library
	url = https://github.com/volkovasystems/library.git
[submodule "node_modules"]
	path = node_modules
	url = https://github.com/volkovasystems/node_modules.git
[submodule "vsutility"]
	path = vsutility
	url = https://github.com/volkovasystems/vsutility.git
[submodule "barter-app"]
	path = barter-app
	url = https://github.com/monkeymouse/barter-app.git
[submodule "brags-app"]
	path = brags-app
	url = https://github.com/volkovasystems/brags-app.git
[submodule "vsapp"]
	path = vsapp
	url = https://github.com/volkovasystems/vsapp.git
[submodule "vsdependency"]
	path = vsdependency
	url = https://github.com/volkovasystems/vsdependency.git
[submodule "vslibrary"]
	path = vslibrary
	url = https://github.com/volkovasystems/vslibrary.git
[submodule "solomon"]
	path = solomon
	url = https://github.com/volkovasystems/solomon.git
[submodule "ebla"]
	path = ebla
	url = https://github.com/volkovasystems/ebla.git
[submodule "grimoire"]
	path = grimoire
	url = https://github.com/volkovasystems/grimoire.git
[submodule "syllogi"]
	path = syllogi
	url = https://github.com/volkovasystems/syllogi.git
[submodule "vstest"]
	path = vstest
	url = https://github.com/volkovasystems/vstest.git
[submodule "vsmain"]
	path = vsmain
	url = https://github.com/volkovasystems/vsmain.git
[submodule "syrup"]
	path = syrup
	url = https://github.com/volkovasystems/syrup.git
[submodule "grocerybox-app"]
	path = grocerybox-app
	url = https://github.com/volkovasystems/grocerybox-app.git
[submodule "templar"]
	path = templar
	url = https://github.com/volkovasystems/templar.git
