
[submodule "niagara"]
	path = niagara
	url = git@github.com:volkovasystems/niagara.git
[submodule "ujdi"]
	path = ujdi
	url = git@github.com:volkovasystems/ujdi.git
[submodule "icon"]
	path = icon
	url = git@github.com:volkovasystems/icon.git
